.App {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px #222222;
  opacity: 1.0;
}

body {
  background: url(images/skank2.jpg) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
	opacity: 0.8;
}
